@font-face {
  font-family: "Typewriter";
  src: url(fonts/zai_ConsulPolishTypewriter.ttf) format("truetype");
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #0a0a15;
  box-sizing: border-box;
  font-family: "Raleway", "Century Gothic", sans-serif;
  font-weight: 300;
}

/* HEADER */

.main-header {
  background-color: #0a0a15;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 50;
}

.main-header__text {
  margin-top: 18rem;
  text-align: center;
}

.main-header__text--white {
  color: #fefee7;
  display: inline-block;
  font-size: 6rem;
  font-weight: 100;
}

.main-header__text--orange {
  color: #f9a03f;
  display: inline-block;
  font-size: 7rem;
  font-style: italic;
}

/* NAVIGATION */

.navigation {
  background-color: #0a0a15;
  padding: 2rem 2rem 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100vw;
}

.navigation__item:link {
  border: 2px solid #f9a03f;
  color: #fefee7;
  display: inline-block;
  font-family: "Raleway", "Century Gothic", sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  margin-right: 3rem;
  padding: 1rem 2.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 14rem;
  z-index: 70;
}

.navigation__item:hover {
  background-color: #f9a03f;
  font-weight: 500;
}

.navigation__item:visited {
  border: 2px solid #f9a03f;
  color: #fefee7;
  display: inline-block;
  font-family: "Raleway", "Century Gothic", sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  margin-right: 3rem;
  padding: 1rem 2.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 14rem;
  z-index: 70;
}

.navigation__item--current:link {
  background-color: rgb(249, 160, 63, 0.3);
  border: 2px solid #f9a03f;
  color: #fefee7;
  display: inline-block;
  font-family: "Raleway", "Century Gothic", sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  margin-right: 3rem;
  padding: 1rem 2.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 14rem;
  z-index: 70;
}

.navigation__item--current:hover {
  background-color: #f9a03f;
  font-weight: 500;
}

.navigation__item--current:visited {
  background-color: rgb(249, 160, 63, 0.3);
  border: 2px solid #f9a03f;
  color: #fefee7;
  display: inline-block;
  font-family: "Raleway", "Century Gothic", sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  margin-right: 3rem;
  padding: 1rem 2.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 14rem;
  z-index: 70;
}

.week-navigation {
  background-color: #0a0a15;
  padding-bottom: 2rem;
  position: fixed;
  top: 7.4rem;
  width: 100vw;
}

.week-navigation__item {
  color: #fefee7;
  display: inline-block;
  font-family: "Raleway", "Century Gothic", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  margin: 0.5rem 1rem;
  text-decoration: none;
}

.week-navigation__item:hover {
  color: #f9a03f;
}

.week-navigation__item--not-active {
  color: rgba(254, 254, 231, 0.5);
  cursor: default;
  display: inline-block;
  font-family: "Raleway", "Century Gothic", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  margin: 0.5rem 1rem;
  text-decoration: none;
}

/* BODY */

.main-content {
  left: 50%;
  max-width: 120rem;
  position: relative;
  transform: translateX(-50%);
  width: 90vw;
}

.page-title {
  color: #fefee7;
  font-family: "Raleway", "Century Gothic", sans-serif;
  font-size: 2.6rem;
  font-weight: 400;
  margin-top: 2rem;
  text-align: center;
}

/* SECTION */

.section__flex-container {
  display: flex;
  flex-wrap: wrap;
}

.section__title {
  color: #fefee7;
  font-family: "Raleway", "Century Gothic", sans-serif;
  font-size: 3rem;
  font-weight: 100;
  padding: 14rem 0 4rem 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.section__title::before,
.section__title::after {
  border-top: 1px solid #fefee7;
  content: "";
  display: inline-block;
  margin: 0 6rem;
  transform: translateY(-1rem);
  width: 20%;
}

/* FOOTER */

footer {
  border-top: solid 1px #fefee7;
  clear: both;
  color: #fefee7;
  font-size: 1.6rem;
  font-weight: 100;
  margin-top: 6rem;
  padding: 2rem 0;
  text-align: center;
}

/* NOTES PAGE */

/* NOTE */

.note {
  background-color: #f0f2a6;
  box-shadow: 0 5px 20px #000;
  display: inline-block;
  font-family: "Typewriter", "Times New Roman", serif;
  font-size: 1.8rem;
  margin: 1.5rem;
  min-height: 25rem;
  padding: 2rem;
  width: 25rem;
}

.note__title {
  font-size: 2.8rem;
  font-weight: 100;
  margin: 0 auto;
  text-align: center;
}

.note__items-list {
  padding-left: 2rem;
}

.note__item {
  margin-top: 2rem;
}

/* INDEX PAGE */

.about-me__text {
  color: #fefee7;
  font-family: "Raleway", "Century Gothic", sans-serif;
  font-size: 2rem;
  font-weight: 100;
  margin-top: 10rem;
}

.about-me__photo {
  border: 3px solid #f9a03f;
  border-radius: 10rem;
  float: left;
  margin: 10rem 8rem 10rem 0;
  width: 20rem;
}

/* LINKS */

.link__list {
  list-style: none;
}

.link__item {
  color: #fefee7;
  font-family: "Raleway", "Century Gothic", sans-serif;
  font-size: 2rem;
  font-weight: 100;
  text-decoration: none;
}

.link__item:hover {
  font-weight: 300;
}

.link__item:visited {
  color: #fefee7;
  font-family: "Raleway", "Century Gothic", sans-serif;
  font-size: 2rem;
  font-weight: 100;
  text-decoration: none;
}