@font-face {
  font-family: "Typewriter";
  src: url(fonts/zai_ConsulPolishTypewriter.ttf) format("truetype");
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #0a0a15;
  box-sizing: border-box;
  font-family: "Raleway", "Century Gothic", sans-serif;
}

/* HEADER */

.main-header {
  background-color: #0a0a15;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 50;
}

.main-header__text-container {
  padding: 18rem 2rem 0 2rem;
  text-align: center;
}

.main-header__text {
  color: #fefee7;
  font-size: 6rem;
  font-weight: 100;
}

.main-header__text--orange {
  color: #ff901a;
  font-size: 7rem;
  font-style: italic;
  font-weight: 700;
}

/* NAVIGATION */

.main-header__navigation {
  background-color: #0a0a15;
  padding: 2rem 2rem 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100vw;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.main-navigation__item {
  border: 3px dashed #ff901a;
  color: #fefee7;
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 300;
  margin-right: 3rem;
  padding: 1rem 2.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 14rem;
  z-index: 70;
}

.main-navigation__item:hover {
  background-color: #ff901a;
  font-weight: 700;
}

.main-navigation__item:visited {
  border: 3px dashed #ff901a;
  color: #fefee7;
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 300;
  margin-right: 3rem;
  padding: 1rem 2.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 14rem;
  z-index: 70;
}

.main-navigation__item--current {
  border: 3px solid #ff901a;
  font-weight: 700;
}

.internal-navigation {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  margin-top: 1.5rem;
}

.internal-navigation__item {
  color: #fefee7;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
  margin-right: 1.5rem;
  padding: 0.3rem;
  text-decoration: none;
}

.internal-navigation__item:hover {
  color: #ff901a;
}

.internal-navigation__item--not-active {
  color: rgba(254, 254, 231, 0.5);
  cursor: default;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
  margin-right: 1.5rem;
  padding: 0.3rem;
  text-decoration: none;
}

/* BODY */

.main-content {
  left: 50%;
  max-width: 120rem;
  position: relative;
  transform: translateX(-50%);
  width: 80vw;
}

.main-content__title {
  color: #fefee7;
  font-size: 2.6rem;
  font-weight: 400;
  margin-top: 2rem;
  text-align: center;
}

.up {
  height: 100vh;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: calc(100vw - 3rem);
}

.up__arrow {
  border: 3px dashed #ff901a;
  bottom: 2rem;
  color: #fefee7;
  font-size: 4rem;
  font-weight: 100;
  height: 5rem;
  padding: 0.4rem;
  position: fixed;
  right: 2rem;
  text-decoration: none;
  width: 5rem;
  z-index: 100;
}

.up__arrow:hover,
.up__arrow:focus {
  background-color: #ff901a;
  font-weight: 500;
}

/* FOOTER */

.footer {
  border-top: solid 1px #fefee7;
  clear: both;
  margin: 12rem auto 0 auto;
  max-width: 109rem;
  padding: 2rem 0;
  text-align: center;
  width: 80vw;
}

.footer__text {
  color: #fefee7;
  font-size: 1.6rem;
  font-weight: 100;
}

.footer__text--link {
  font-weight: 300;
  text-decoration: none;
}

.footer__text--link:hover {
  color: #ff901a;
}

/* NOTES PAGE */

/* WEEK */

.week__flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.week__title {
  color: #fefee7;
  font-size: 3rem;
  font-weight: 100;
  left: 50%;
  padding: 14rem 0 4rem 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transform: translateX(-50%);
  width: 80vw;
}

.week__title::before,
.week__title::after {
  border-top: 1px solid #fefee7;
  content: "";
  display: inline-block;
  margin: 0 6rem;
  transform: translateY(-1rem);
  width: 20%;
}

/* NOTE */

.note {
  background-color: #f0f2a6;
  box-shadow: 0 10px 15px #000;
  display: inline-block;
  font-family: "Typewriter", "Times New Roman", serif;
  font-size: 1.8rem;
  margin: 1.5rem;
  min-height: 25rem;
  padding: 2rem;
  width: 25rem;
}

.note__title {
  font-size: 2.8rem;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
}

.note__subtitle {
  font-size: 2rem;
  line-height: 1.8rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.note__items-list {
  padding-left: 2rem;
}

.note__item {
  margin-top: 1rem;
}

.note__item--tight {
  margin-top: 0;
}

.note__item--link:hover {
  font-weight: 700;
}

.note__item--link:visited {
  color: #000;
}

/* INDEX PAGE */

.about-me {
  color: #fefee7;
  margin: 10rem auto;
  width: 80%;
}

.about-me__title {
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 4rem;
  text-align: left;
}

.about-me__text {
  font-size: 2rem;
  font-weight: 100;
  text-align: justify;
}

.about-me__text--special {
  color: #ff901a;
  font-weight: 400;
  margin-bottom: 8rem;
}

.about-me__photo {
  border: 4px solid #ff901a;
  border-radius: 10rem;
  float: right;
  margin: 0 0 4rem 6rem;
  width: 20rem;
}

.skills {
  color: #fefee7;
  margin: 10rem auto;
  width: 80%;
}

.skills__title {
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 4rem;
  text-align: left;
}

.skills__text {
  font-size: 2rem;
  font-weight: 100;
  text-align: justify;
}

.skills-list {
  padding-left: 4rem;
  margin: 2rem 0;
}

.skills-list__item {
  font-size: 2rem;
  font-weight: 100;
  list-style: none;
  margin-bottom: 2rem;
}

.skills-list__summary {
  cursor: pointer;
  font-weight: 300;
}

.skills-list__summary:hover {
  color: #ff901a;
}

/* LINKS PAGE */

/* CATEGORY */

.category__flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.category__title {
  color: #fefee7;
  font-size: 3rem;
  font-weight: 100;
  left: 50%;
  padding: 14rem 0 4rem 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transform: translateX(-50%);
  width: 90%;
}

.category__title::before,
.category__title::after {
  border-top: 1px solid #fefee7;
  content: "";
  display: inline-block;
  margin: 0 6rem;
  transform: translateY(-1rem);
  width: 20%;
}

.link {
  background-color: #fefee7;
  flex-grow: 1;
  margin: 2rem;
  padding: 2rem;
  position: relative;
  max-width: 30rem;
}

.link__title {
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
  text-align: center;
}

.link__description {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 6rem;
}

.link__button {
  background-color: hsl(240, 35%, 20%);
  bottom: 2rem;
  box-shadow: 0 5px 10px #777;
  color: #fefee7;
  display: block;
  font-size: 2rem;
  font-weight: 900;
  padding: 1rem;
  position: absolute;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: calc(100% - 4rem);
}

.link__button:hover {
  background-color: #ff901a;
}

.link__button:active {
  box-shadow: none;
  transform: translateY(5px);
}

.link__button:visited {
  color: #fefee7;
}

/* .link__list {
  list-style: none;
}

.link__item {
  color: #fefee7;
  font-size: 2rem;
  font-weight: 100;
  text-decoration: none;
}

.link__item:hover {
  font-weight: 300;
}

.link__item:visited {
  color: #fefee7;
  font-size: 2rem;
  font-weight: 100;
  text-decoration: none;
} */

@media screen and (max-width: 600px) {
  html {
    font-size: 58%;
  }

  .internal-navigation {
    justify-content: space-between;
  }

  .main-content {
    width: 95vw;
  }

  .main-header__text {
    font-size: 4.6rem;
  }

  .main-header__text--orange {
    font-size: 5rem;
  }

  .about-me__photo {
    border-radius: 20rem;
    float: none;
    margin: 0 0 4rem 0;
    width: 100%;
  }

  .week__title::before,
  .week__title::after {
    content: none;
  }

  .category__title::before,
  .category__title::after {
    content: none;
  }
}
